<div class="jumbotron mt-4 pb-3">
   <h1 class ="display-4">Lista de tareas</h1>
   <p class="lead">Mantén tu lista de tareas pendientes desde tu navegador</p>
   <hr class="my-4">
   <p><a href="/users/signup">Regístrate</a> y empieza a disfrutar de las ventajas de tener siempre a mano y actualizadas las tareas pendientes del día a día. Las tareas te aparecerán en pantalla por oden de prioridad y después por fecha de creación. Las más recientes primero. Las tareas terminadas aparecen listadas al final ya que no son prioridad. Las puedes dejar almacenadas por si quieres consultar algún dato.</p>
   <p class="text-center mt-5">
      <a href="/users/signin" class="btn btn-primary btn-lg">¿Ya estás Registrado? - Inicia sesión</a>
   </p>   
</div>