<div class="row">
   <div class="col-lg-8 col-md-10 mx-auto">
      <div class="card">
         <div class="card-header">
            <h2 class="text-center">Introduzca sus datos</h2>
         </div>
         <div class="card-body">
            <form action="/users/signin" method="POST">
               <div class="form-group">
                  <img src="/img/logo.png" alt="Logo DGB" width="25%" class="d-block mx-auto">
                  <div class="text-center">
                     <small><strong>DGB Development &copy;</strong></small></div>
                  </div>
               <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
               </div>
               <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Contraseña">
               </div>
               <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>